<!DOCTYPE html>
<html>
  <style>
  body{
    background-color:#fff8f8;
    margin: 50px;
    padding: 0px;
  }
  .space{
    display: inline-block;
    width: 20px;
  }
  .container{
    display: inline-block;
    border-radius: 30px 30px;
    width: 100%;
    text-align: left;
    top: 50%;
  }

  .title{
    display: inline;
    font-size: 120px;
    font-family: Helvetica;
    color:#c99;
    padding: 0px;
    margin: 0px;
    animation: blur-anime 1s ease-in-out infinite;
  }

  .delay1{animation-delay: 0.1s;}
  .delay2{animation-delay: 0.2s;}
  .delay3{animation-delay: 0.3s;}
  .delay4{animation-delay: 0.4s;}
  .delay5{animation-delay: 0.5s;}
  .delay6{animation-delay: 0.6s;}
  .delay7{animation-delay: 0.7s;}
  .delay8{animation-delay: 0.8s;}
  .delay9{animation-delay: 0.9s;}
  .delay0{animation-delay: 0.0s;}



  @keyframes blur-anime {
    0%  {filter: blur(0px);color:#9cc;}
    40%  {filter: blur(10px);color:#c99;}
    60%  {filter: blur(10px);color:#c99;}
    100%  {filter: blur(00px);color:#9cc;}
  }

  </style>
  <body>
    <div class="container">
    <div class="title delay1">T</div>
    <div class="title delay2">h</div>
    <div class="title delay3">e</div>
      <div class="space"> </div>
    <div class="title delay4">q</div>
    <div class="title delay5">u</div>
    <div class="title delay6">i</div>
    <div class="title delay7">c</div>
    <div class="title delay8">k</div>
      <div class="space"> </div>
    <div class="title delay9">b</div>
    <div class="title delay8">r</div>
    <div class="title delay7">o</div>
    <div class="title delay6">w</div>
    <div class="title delay5">n</div>
        <div class="space"> </div>

    <div class="title delay4">f</div>
    <div class="title delay3">o</div>
    <div class="title delay2">x</div>
      
        <div class="space"> </div>

    <div class="title delay1">j</div>
    <div class="title delay2">u</div>
    <div class="title delay3">m</div>
    <div class="title delay4">p</div>
    <div class="title delay5">s</div>
      
        <div class="space"> </div>
      
    <div class="title delay6">o</div>
    <div class="title delay7">v</div>
    <div class="title delay8">e</div>
    <div class="title delay9">r</div>

        <div class="space"> </div>
      
    <div class="title delay8">t</div>
    <div class="title delay7">h</div>
    <div class="title delay6">e</div>
      
        <div class="space"> </div>
      
    <div class="title delay5">l</div>
    <div class="title delay4">a</div>
    <div class="title delay3">z</div>  
    <div class="title delay2">y</div>  

      <div class="space"> </div>

    <div class="title delay1">d</div>  
    <div class="title delay2">o</div>  
    <div class="title delay3">g</div>  

      
    </div>
  </body>
</html>